# vi:ft=yaml
BasedOnStyle: LLVM
IndentWidth: 4
AlignArrayOfStructures: Left
PointerAlignment: Right
ColumnLimit: 130
IncludeBlocks: Regroup
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
